body {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}
.tekst{
    text-shadow: 2px 2px 8px #FF0000;
}
.obraz{
    animation: rotation 2s infinite linear;
    margin: auto;

}
.ramka{
  border:10px solid black;
  width: 50%;
  padding: 10px;
  margin: auto;
}
#my-div {
  opacity: 0.5;
  width: 6em;
  height: 6em;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(16, 0, 54, 0.2);
  transition: 0.1s ease-out;
}
.image{
  height: 500px;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.blink-bg{
		color: #fff;
		padding: 10px;
		display: inline-block;
		border-radius: 5px;
		animation: blinkingBackground 2s infinite;
	}
@keyframes blinkingBackground{
		0%		{ background-color: #10c018;}
		25%		{ background-color: #1056c0;}
		50%		{ background-color: #ef0a1a;}
		75%		{ background-color: #254878;}
		100%	        { background-color: #04a1d5;}
	}

  html {
    cursor: none;
    min-height:100%;
    background: 
     linear-gradient(rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%) 
     0 0/100% 200%;
     animation: a 5s linear infinite;
  }
  
  @keyframes a {
    to {background-position:0 -200%}
  }